@yunzai-default-aside-width: @yunzai-default-aside-wd + @yunzai-default-content-padding;
@yunzai-default-aside-collapsed-width: @yunzai-default-aside-collapsed-wd + @yunzai-default-content-padding;

@{reuse-tab-prefix} {
  margin: 0 -@yunzai-default-content-padding 0 -@yunzai-default-content-padding;
}

@{yunzai-default-prefix}__fixed {
  @{reuse-tab-prefix} {
    position: fixed;
    z-index: @zindex-fixed + 1;
    top: @yunzai-default-header-hg;
    right: @yunzai-default-content-padding;
    left: @yunzai-default-aside-width;
  }
}

@{yunzai-default-prefix}__collapsed {
  @{reuse-tab-prefix} {
    left: @yunzai-default-aside-collapsed-width;
  }
}

@{yunzai-default-prefix}__hide-aside {
  @{reuse-tab-prefix} {
    left: @yunzai-default-content-padding;
  }
}

@{yunzai-default-prefix}__hide-header {
  @{reuse-tab-prefix} {
    top: 0;
  }
}

@media (min-width: @mobile-min) {
  @{yunzai-default-prefix}__fixed {
    @{reuse-tab-prefix} {
      + router-outlet {
        display: block;
        height: @reuse-tab-height;
      }
    }
  }
}

@media (max-width: @mobile-max) {
  @{yunzai-default-prefix}__fixed {
    @{reuse-tab-prefix} {
      position: unset;
      width: initial;
      margin-top: @reuse-tab-height;
    }
  }
}

.layout-default-reuse-tab-rtl-mixin(@enabled) when(@enabled=true) {
  [dir='rtl'] {
    @{yunzai-default-prefix}__fixed {
      @{reuse-tab-prefix} {
        right: @yunzai-default-aside-width;
        left: @yunzai-default-content-padding;
      }
    }

    @{yunzai-default-prefix}__collapsed {
      @{reuse-tab-prefix} {
        right: @yunzai-default-aside-collapsed-width;
        left: 0;
      }
    }
  }
}
.layout-default-reuse-tab-rtl-mixin(@rtl-enabled);
