@yz-application-top: 64px;
@yz-application-width: 100%;
@yz-application-height: 480px;
@yz-application-bgColor: #fff;
@yz-application-border-shadow: #888;
@yz-application-topic-bgColor: #4ba6ff;
@yz-application-topic-text-color: #fff;
@yz-application-topic-text-font-weight: bold;
@yz-application-topic-text-line-height: 32px;
@yz-application-topic-text-hover-bgColor: #fff;
@yz-application-topic-text-hover-color: #4ba6ff;
@yz-application-list-padding: 20px;
@yz-application-list-ul-width: 100%;
@yz-application-list-ul-padding: 0;
@yz-application-list-ul-li: 20px;
@yz-application-list-ul-li-width: 100%;
@yz-application-list-ul-li-margin-bottom: 20px;
@yz-application-list-ul-li-padding: 0;
@yz-application-list-ul-h5-margin-top: 0;
@yz-application-list-ul-h5-color: #000;
@yz-application-list-ul-h5-font-weight: 500;
@yz-application-list-ul-h5-font-size: 14px;
@yz-application-list-ul-h5-line-height: 20px;
@yz-application-list-ul-a-display: block;
@yz-application-list-ul-a-padding: 0 4px;
@yz-application-list-ul-a-overflow: hidden;
@yz-application-list-ul-a-color: #000;
@yz-application-list-ul-a-font-size: 12px;
@yz-application-list-ul-a-line-height: 25px;
@yz-application-list-ul-a-white-space: nowrap;
@yz-application-list-ul-a-text-overflow: ellipsis;
@yz-application-list-ul-a-hover-color: #fff;
@yz-application-list-ul-a-hover-bgColor: #4ba6ff;
@yz-application-list-search-margin: 10px;
@yz-application-list-search-padding: 10px;
@yz-application-list-item-h4p-margin: 0;
@yz-application-list-item-h4p-overflow: hidden;
@yz-application-list-item-h4p-color: #000;
@yz-application-list-item-h4p-white-space: nowrap;
@yz-application-list-item-h4p-text-overflow: ellipsis;
@yz-application-list-item-h4-font-weight: 500;
@yz-application-list-item-h4-line-height: 24px;
@yz-application-list-item-p-color: #000;
@yz-application-list-item-p-line-height: 20px;
@yz-application-list-item-li-hover-color: #fff;
@yz-application-list-item-li-hover-bgColor: #2E3E56;


// website layout
// layout-website-01
@yz-layout-website-01-linear-bg: #94080b;
@yz-layout-website-01-linear-bg-percent: 3%;
@yz-layout-website-01-linear-min-height: 1000px;
@yz-layout-website-01-nav-user-color: #fff;
@yz-layout-website-01-nav-user-bg: #760407;
@yz-layout-website-01-nav-logo-max-height: 90px;
@yz-layout-website-01-nav-logo-max-width: 50%;
@yz-layout-website-01-nav-logo-full-color: #fff;
@yz-layout-website-01-nav-logo-full-font-size: 80px;
@yz-layout-website-01-nav-logo-full-font-weight: 600;
@yz-layout-website-01-nav-logo-full-line-height: 74px;
@yz-layout-website-01-nav-link-color: #fff;
@yz-layout-website-01-nav-link-font-size: 14px;
@yz-layout-website-01-nav-link-hover-color: #d98910;
@yz-layout-website-01-nav-slogan-color: #da8b12;
@yz-layout-website-01-nav-slogan-font-size: 44px;
@yz-layout-website-01-nav-slogan-font-weight: 600;
@yz-layout-website-01-nav-slogan-margin-right: 50px;
// layout-website-02
@yz-layout-website-02-inner-content-max-width: 1500px;
@yz-layout-website-02-inner-content-padding: 0 20px;
@yz-layout-website-02-nav-background: #891616;
@yz-layout-website-02-nav-height: 90px;
@yz-layout-website-02-nav-logo-max-height: 60px;
@yz-layout-website-02-nav-logo-max-width: 50%;
@yz-layout-website-02-nav-logo-full-color: #fff;
@yz-layout-website-02-nav-logo-full-font-size: 40px;
@yz-layout-website-02-nav-logo-full-font-weight: 600;
@yz-layout-website-02-nav-logo-full-line-height: 40px;
@yz-layout-website-02-link-color: #fff;
@yz-layout-website-02-link-font-size: 14px;
@yz-layout-website-02-link-margin-left: 20px;
@yz-layout-website-02-link-username-max-width: 150px;
@yz-layout-website-02-link-hover-color: #d98910;
