import { Injectable, inject } from '@angular/core';
import { _HttpClient } from '@yelon/theme';

@Injectable(<% if(service === 'root') { %>{ providedIn: 'root' }<% } %>)
export class <%= serviceName %> {
  private readonly http = inject(_HttpClient);
}
